body {
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
    font-size: 0.2rem;
    padding: 0;
    margin: 0;
    font-family: "微软雅黑";
    /*font-family: "MenkSoft";*/
    background: #fff;
    color: #333;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

div,
input,
button,
textarea,
span,
small,
big,
p,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
a,
em,
font,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
section,
article,
header,
footer,
aside,
nav {
    padding: 0;
    margin: 0;
    list-style: none
}

section,
article,
header,
footer,
aside,
nav {
    padding: 0;
    margin: 0;
    display: block
}

input,
select,
button,
textarea {
    outline: none;
    border: none;
    font-size: 12px;
    font-family: \5FAE\8F6F\96C5\9ED1
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button {
    -webkit-appearance: none;
    cursor: pointer
}

img {
    border: none
}

a {
    color: #333;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul {
    padding: 0;
}

li {
    list-style: none;
}
.relative {
    position: relative;
}
.left {
    float: left;
}

.right {
    float: right;
}
.color-title {
    color: #319EEB;
}
.color-blue {
    color: #1824E3;
}
.mr8 {
    margin-right:8px;
}
.mr10{
    margin-right: 10px;
}
.mb20{
    margin-bottom: 20px;
}
.w100 {
    width: 100px !important;
}
.mt40{
    margin-top: 40px;
}
.textindent20{
    text-indent: 20px;
}
.pl30{
    padding-left: 30px !important;
}
.pl50{
    padding-left: 50px !important;
}
.guanliyuan-middle {
    overflow: hidden;
    margin: 20px 0 6px;
    height: 40px;
    line-height: 40px;
}
.inline-block{
    display: inline-block;
}
.w01{
    width: 100%;
}
.inline-block .w04{
    width: 48% !important;
}
/* 滚动条整体部分 */
.scroll::-webkit-scrollbar 
  {
  width: 5px;
  height: 10px;
  background-color:#e5f0fe;
}
/*  //scroll轨道背景 */
.scroll::-webkit-scrollbar-track
  {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #fff;
}
/* 滚动条中能上下移动的小块 */
.scroll::-webkit-scrollbar-thumb  {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color:#e5f0fe;
}
/* table */
.ant-table td,.ant-table th {
    white-space: nowrap;
  }